body
{
    background: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color:white;
}
body
{
    background: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color:white;
}

section h1
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}


nav ul
{
    list-style-type: none;
   display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color:white;
    padding-bottom: 3px;
    text-decoration: none;
}


#banniere_image
{
    margin-top: 10px;
    height: 200px;
    border-radius: 5px;
    background: url('images logos/banniere-ark.jpg') no-repeat;
    position:relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 15px;
    margin-left: 25%;
    margin-right: 25%;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgb(24,24,24,0.8);
    color: white;
    font-size: 0.8em;

}



section
{
    display: flex;
    margin-bottom: 20px;    